
.nav-tabs .nav-link {
  border-radius: 25px 5px 0px 0px;
  background-color: #eeeeee;
  color: black;
  border-color: #e4a900;
}
.nav-tabs .nav-link:active {
  border-radius: 25px 5px 0px 0px;
  background-color: #e4a900;
  color: black;
  border-color: #e4a900;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: black;
  background-color: #e4a900;
  border-color: #e4a900;
}
.content_img {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10%;
  width: 100vw;
  height: 41vw;
}
/*Responsive design*/
@media (max-width: 57.5em) {
    .content_img {
        top: 22%;
        height: 100vw;
    }
}
